.html,
body {
  margin: 0;
  padding: 0;
  background: #be9863;
}

/* Player 1 */

.judul-game {
  position: absolute;
  width: 380px;
  height: 70px;
  left: 300px;
  top: 50px;
  color: #f0ab18;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.title {
  position: absolute;
  width: 380px;
  height: 70px;
  left: 280px;
  top: 90px;
  color: black;
  text-align: center;
  padding-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.games {
  display: flex;
  width: 300px;
  height: 60px;
  margin-top: 245px;
  padding-left: 400px;
}

.gambarP img {
  width: 50%;
}

.gambarP img:hover {
  cursor: pointer;
}

/* Versus */

.titleVersus {
  font-size: 100px;
  width: 300px;
  padding-left: 900px;
  color: red;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.refresh {
  position: absolute;
  width: 200px;
  padding-left: 950px;
}

.refresh img {
  width: 30%;
}

.refresh img:hover {
  cursor: pointer;
}

/* Player 2 */

.com {
  position: absolute;
  width: 380px;
  height: 70px;
  right: 350px;
  top: 5px;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-left: 900px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gamesCom {
  display: flex;
  width: 300px;
  height: 60px;
  margin-top: -310px;
  padding-left: 1350px;
}

.gambarC img {
  width: 50%;
}

.gambarC img:hover {
  cursor: pointer;
}
