<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Batu Kertas</title>
    <link rel="stylesheet" href="gamestyle.css" />
    
  </head>
  <body>
    <header>
      <div class="background"></div>
      <h1 class="judul-game">ROCK PAPER SCISSORS</h1>
      <h1 class="title">PLAYER 1</h1>
    </header>

    <!-- PLAYER  -->

    <div class="player">
        <h1 class="title">PLAYER 1</h1>
      </div>
      <div class="games">
        <div>
          <div class="gambarP" onclick="pickOption('batu')"><img src="assets/batu.png"></div>
          <div class="gambarP" onclick="pickOption('gunting')"><img src="assets/gunting.png"></div>
          <div class="gambarP" onclick="pickOption('kertas')"><img src="assets/kertas.png"></div>
        </div>
      </div>
    </div>

    <!-- VERSUS -->

    <div class="versus">
      <h1 class="titleVersus">VS</h1>
    </div>
    <div class="refresh">
      <img src="assets/refresh.png" alt="refresh" />
    </div>
  </div>

  <!-- COM -->

  <div class="com">
    <h1 class="titleCom">PLAYER 2</h1>
  </div>
  <div class="gamesCom">
    <div>
      <div class="gambarC" onclick="pickOption('batu')"><img src="assets/batu.png" /></div>
      <div class="gambarC" onclick="pickOption('gunting')"><img src="assets/gunting.png" /></div>
      <div class="gambarC" onclick="pickOption('kertas')"><img src="assets/kertas.png" /></div>
    </div>
  </div>
</div>
  </body>
  <script src="node.js"></script>
</html>

