<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/669b2667d2.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Challenge</title>
  <link rel="stylesheet" href="tampilanstyle.css">
</head>
<body>

  <div class="navbar">
     <img src="assets/icon.ico"style="width:50px">
     <ul>
      <a href="news">Home</a>
      <a href="contact">Contact</a>
      <a href="about">About</a>
      <a href="sign">Sign</a>
      <a href="login.html">Login</a> 
    </ul> 
  </div>
  
  <!-- Halaman Pertama-->
  <div class="background-pertama">
    <div class="utama">
      <h1>PLAY TRADITONAL GAME</h1>
        <p>Experience new traditional game play</p>
        <button onclick="document.location='/game'">PLAY GAME</button>
    </div>
  </div>
  <!-- Stop Halaman Pertama -->

  <!-- Halaman Kedua -->
  <div class="background-kedua">
      <h2>What's so Special ?
        <span>
          <h1>THE GAMES</h1>
        </span>
      </h2>
      <div class="display">
        <img class="slides"src="assets/rockpaperstrategy-1600.jpg">
        <!-- <div class="display-left display-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="display-right display-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div> -->
      </div>
  </div>
  <!-- Stop Halaman Kedua -->

  <!-- Halaman Ketiga -->
  <div class="background-ketiga">
    <div class="keterangan">
      <h2>What's so Special ?</h2>
      <h1>FEATURES</h1>
      <br>
        <h3>TRADTIONAL GAMES</h3>
        <p>if you miss your childhood, we provide many traditional games here</p>
        <h3>GAME SUIT</h3>    
        <h3>TBD</h3>   
    </div>
  </div>
  <!-- Stop Halaman Ketiga -->

  <!-- Halaman Keempat -->
  <div class="background-keempat">
    <p>Can My Computer Run this game?</p>
    
      <!-- Keterangan Pertama  -->
      <h1>SYSTEM<br>REQUIREMENTS</h1>
    <div class="row">
      <div class="column">
        <table>
            <tr>
              <th>OS</th> 
              <th>PROCESSOR</th>
            </tr>
              <td>Windows 7 64-bit only<br>(No OSX suppoert at this time)</td>  
              <td>Intel Core 2 duo 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GHZ</td>
            <tr>
              <th>MEMORY</th> 
              <th>STORAGE</th>>
            </tr>
              <td>4 GB RAM</td>  
              <td>8 GB available space</td>
            <tr>
              <th>GRAPHICS</th>
            </tr>
              <td>NVDIA GeForce GTX 660 2GB or <br>
              AMD Radeon HD 7850 2GB DirectX 11 (Shader Model 5)</td>
        </table> 
      </div>
    </div>
  </div> 
  <!-- Stop Halaman Keempat -->

  <!-- Halaman Kelima -->
  <div class="background-kelima">
    <div class="keterangan5">
      <h1>TOP SCORES</h1>
      <p>This top score from various games provided<br>on this platform</p>
      <button type="btn button">see more</button>
    </div>

    <!-- Card 1 -->

    <div class="row-1">
      <div class="column-1">
        <div class="card">
          <h3><img src="assets/evan-lahti.jpg"style="width:50px">Evan lahti</h3>
          <p>PC Gamer</p
          <p>"One of my gaming highlights of the year."</p>
          <p>june 18, 2021</p>
        </div>
      </div>
     </div> 

     <!-- Card 2 -->

     <div class="column-2">
      <div class="card">
        <h3><img src="assets/jada-griffin.jpg"style="width:50px">Jada Griffin</h3>
        <p>Nerdreactor</p
        <p>"The next big thing in the world of straming<br>and survival games."</p>
        <p>july 10, 2021</p>
      </div>
    </div>

    <!-- Card 3 -->
    
    <div class="column-3">
      <div class="card">
        <h3><img src="assets/aaron-williams.jpg"style="width:50px">Aaron Williams</h3>
        <p>Uproxx</p
        <p>"Snoop Dogg Playing The Wildly Entertaining<br>'SOS' Is Ridiculous."</p>
        <p>December 24, 2018</p>
      </div>
    </div>
  </div>    
  <!-- Stop Halaman Kelima -->

  <!-- Halaman keenam -->
  <div class="background-keenam">
    <div class="keterangan">
      <img src="assets/skull.png">
      <div class="isi">
        <h2>Want to stay in <br>
          touch?</h2>
        <h1>NEWSLETTER <br> SUBSCRIBE</h1>
        <p>In order to start receiving our news, all you have to do is enter your email<br>address, Everything else will be taken are of by us. We will sendyou emails<br>containing information about game. We don't spam.</p>
        <br>
        <p>Your email address</p>
        <h3>youremail@binar.co.id</h3>
        <button type="btn button">Subscribe now</button>
      </div>
    </div>
  </div>
  <!-- Stop Halaman Keenam -->

  <!-- Start Footer -->
    <footer>
      <div class="footer-content">
      <ul class="socials">
        <li><a href="#">MAIN</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">GAME FATURES</a></li>
        <li><a href="#">SYSTEM REQUIREMENTS</a></li>
        <li><a href="#">QUOTES</a></li>
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
      </ul>
      </div>
      <!-- <div class="footer-bottom">
        <hr>
        <li><a href="#">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT </a></li>
        <p>copyright &copy;2022 design by xbege</p> -->
        
      </div>
    </footer>
  <!-- Stop Footer -->
</body>
</html>