body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  justify-content: space-around;
  top: 0;
  width: 100%;
  padding: 10px;
  color: white;
}

.navbar a {
  float: left;
  display: block;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ff9900;
  color: black;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Halaman Pertama */

.background-pertama {
  background-image: url(assets/main-bg.jpg);
  background-color: black;
  padding-top: 50px;
  padding-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  width: auto;
  background-position: center;
  background-position-y: -50px;
  position: relative;
  text-align: center;
  color: white;
}

.utama h1 {
  position: relative;
  top: 200px;
  font-size: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.utama p {
  font-size: 24px;
  position: relative;
  top: 170px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.utama button {
  padding: 16px;
  position: relative;
  top: 190px;
  border: none;
  background-color: #ff9900;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Stop Halaman Pertama */

/* Halaman Kedua */

.background-kedua {
  background-image: url(assets/top-score-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  height: 750px;
  color: white;
  padding: 10px;
}

.background-kedua h2 {
  font-size: 25px;
  position: relative;
  left: 500px;
  /* border: 3px solid #000000; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background-kedua .slides {
  position: relative;
  left: 800px;
  top: -110px;
  width: 35%;
}

/* Stop Halaman Kedua */

/* Halaman Ketiga */

.background-ketiga {
  background-image: url(assets/features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  height: 930px;
  color: white;
  padding: 10px;
}

.background-ketiga .keterangan {
  position: relative;
  top: 30px;
  left: 900px;
  border: 3px solid rgba(0, 0, 0, alpha);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background-ketiga .keterangan p {
  color: white;
  position: relative;
  left: 30px;
  line-height: 1cm;
}

.background-ketiga .keterangan h3 {
  color: orange;
  position: relative;
  left: 30px;
  line-height: 0.8cm;
}
/* Stop Halaman Ketiga */

/* Halaman Keempat */

.background-keempat {
  background-image: url(assets/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  height: 920px;
  color: white;
  padding: 10px;
}

.background-keempat p {
  position: relative;
  text-align: center;
  font-size: 15px;
}

.background-keempat h1 {
  position: relative;
  padding: 20px;
  left: 400px;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background-keempat table {
  position: relative;
  left: 400px;
}

th {
  color: orange;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
th,
td {
  text-align: left;
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

table {
  border: 0.1px solid rgb(134, 132, 132);
}

th,
tr:nth-child(even) {
  background-color: rgb(24, 24, 24);
}

/*  Stop Halaman Keempat */

/* Halaman Kelima */

.background-kelima {
  background-image: url(assets/top-score-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  height: 980px;
  color: white;
  padding: 10px;
}

.keterangan5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  font-size: 20px;
  left: 400px;
  margin-top: 300px;
}

.keterangan5 button {
  background: #ffb10a;
  color: black;
  font-size: 15px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.column-1 {
  position: relative;
  margin-top: -450px;
  left: -200px;
  float: right;
  width: 25%;
  padding: 0 10px;
}

.column-1 img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #2c2c2c;
}

h3 {
  color: #ff9900;
}
.column-2 {
  position: relative;
  margin-top: -200px;
  left: -450px;
  float: right;
  width: 25%;
  padding: 0 10px;
}

.column-2 img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.column-3 {
  position: relative;
  margin-top: 80px;
  left: 250px;
  float: right;
  width: 25%;
  padding: 0 10px;
}

.column-3 img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Stop Halaman Kelima */

/* Halaman Keenam */

.background-keenam {
  background-image: url(assets/top-score-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  background-attachment: fixed;
  height: 980px;
  color: white;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background-keenam .keterangan {
  position: relative;
  left: 400px;
  top: 90px;
  width: 35%;
}

.background-keenam img {
  margin-top: 40px;
  width: 55%;
  height: 70%;
}

.isi {
  text-align: left;
  margin-top: -600px;
  margin-left: 400px;
}

.keterangan button {
  position: relative;
  font-size: 20px;
  padding: 16px;
  height: 60px;
  border: none;
  background-color: #ff9900;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Stop Halaman Keenam */

/* Footer */

.footer-content {
  background-image: url(assets/newsletter.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  background-attachment: fixed;
  height: 80px;
  padding: 10px;
}

footer {
  height: auto;
  width: 100vw;
  font-family: "bebas Neue";

  color: black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3 rem 0;
}

.socials li {
  margin: 20px;
}

.socials a {
  text-decoration: none;
  color: orange;
}

.footer-bottom p {
  text-align: right;
  list-style: none;
  display: flex;
  align-items: right;
  justify-content: right;
}

.footer-bottom li a {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

/* Stop Footer */
